<header>
  <div class="container">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button class="search-btn" type="submit">Search</button>
    </form>
  </div>
</header>
<main>
  <div class="gallery"></div>
  <div class="container">
    <button type="button" class="load-more">Load more</button>
  </div>
  <button class="scrollToTopBtn">Up</button>
</main>
